<!DOCTYPE html>
<html lang="es">
	<head>
	<!-- UTF-8 Encoding -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Google Fonts API, type text: kalam -->
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Kalam:700,400|Roboto:400">
		<!-- Bootstrap Library -->
		<link rel="stylesheet" href="../dist/css/bootstrap.min.css">
		<!-- Css file "Style of the WebSite" -->
		<link rel="stylesheet" href="../css/style.css">
		<title>Reviewer</title>
	</head>
    <body class="metricstart">
        <!-- Header for nav bar -->
        <header>
            <nav>
                <ul>
                    <!-- Link to Udacity Dashboards -->
                    <li><a href="https://review.udacity.com/#!/submissions/dashboard"><span class="udacity"><i class="icon glyphicon glyphicon-send"></i></span>Udacity</a></li>
                    <!-- Link to Google Drive -->
                    <li><a href="https://drive.google.com/drive/folders/0B6tMOh9xUWegfmswYTYyTTRza2F0Y0ZTXzBDV3BQZjRHRWFwZGJYUjBHV2N2RFc3SnlPZDg"><span class="home"><i class="icon glyphicon glyphicon-hdd"></i></span>Google Drive</a></li>
                    <!-- Link to Google Form -->
                    <li><a href="https://docs.google.com/forms/d/1ZyjBvuUwbVf319mPkVRiPa8TSBfFhNULX1P6kYvmr_U/viewform"><span class="googleform"><i class="icon glyphicon glyphicon-pencil"></i></span>Google Form</a></li>
                    <!-- Link to the private group "udacity-code-review" of Cognits-Team -->
                    <li><a href="https://cognits-team.slack.com/messages/udacity-code-review/"><span class="slack"><i class="icon glyphicon glyphicon-th-large"></i></span>Slack</a></li>
                    <!-- Link to Reviewers list -->
                    <li><a href="#"><span class="reviewers"><i class="icon glyphicon glyphicon-user"></i></span>Reviewers</a></li>
                    <!-- Link to Statistics of review -->
                    <li><a href="templates/report.html" target="_blank"><span class="statistics"><i class="icon glyphicon glyphicon-signal"></i></span>Statistics</a></li>
                </ul>
            </nav>
        </header>
        <!-- Carrousel -->
        <div class="container space">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10 transparentbox">
                    <table class="table table-hover">
                        <tr>
                            <td>Number</td>
                            <td>Name</td>
                        </tr>
                        <tr></tr>
                    </table>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="container space">
            <div class="row">
                <div class="col-md-12">
                    Notas:
                </div>
            </div>
        </div>
        <!--************************ SCRIPTS *************************** -->
        <!-- JQuery Library API -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="../js/start.js"></script>
    </body>
</html>